
/* BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}
::-webkit-scrollbar {
    width: 8px;
    background: #d1d1d1;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #dad7d7;
}

.hide{
    display: none;
}

/* SCHEDULE - NGX CALENDAR */

.fc-toolbar .fc-header-toolbar button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.fc-next-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.fc-dayGridMonth-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important; 
}

.fc-prev-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important;
}

.fc-timeGridWeek-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important;
}

.fc-timeGridDay-button {
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important;
}

.fc-listWeek-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important;
}

.fc-today-button{
    color: #212529 !important;
    background-color: #f7fafc !important;
    border-color: #f7fafc !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    text-transform: capitalize !important;
}

.fc-event{
    line-height: 1.9 !important;
    text-align: center !important;
    border-radius: 2px !important;
}

.fc-today{
    background-color: #ececec61 !important;
}

.fc button, .fc table, body .fc {
    font-size: 13px !important;
}

.fc-day-header{
    font-size: .75rem !important;
    font-weight: 600 !important;
    padding: .75rem 1rem !important;
    text-transform: uppercase !important;
    color: #8898aa !important;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width:0px !important;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 0px !important;
}

.fc td, .fc th{
    padding: 2px !important;
}

.fc-left h2{
    font-size: 18px !important;
}


.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #f1f1f1 !important;
}


